<div class="row">
  <div class="columns large-10 large-centered">

    <%= form_for(@lesson) do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title, :autofocus => true %>
      </div>
      <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <div>
        <%= f.label :order %>
        <%= f.text_field :order %>
      </div>
      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

      <%= f.fields_for :sections do |builder| %>
        <%= render 'section_fields', f: builder %>
      <% end %>

      <fieldset>
        <legend>Sections</legend>
        <%= link_to_add_fields "Add Section", f, :sections, "button small" %>
      </fieldset>

      <div><%= f.submit "Create Lesson", class: "button" %></div>
    <% end %>

  </div>
</div>
