<div class="row">
  <div class="columns large-9">
    <h2>
    <%= @lesson.body %><br>
    <%= @lesson.order %><br>
    <%= @lesson.image %><br>


  </div>

  <div class="columns large-3">
    <h4><%= @lesson.title %></h4>
    <h4><%= truncate @lesson.body, length: 50 %></h4>
  </div>
</div>
