<div class="row">
  <div class="columns large-10 large-centered">
    <%= @lesson.title %><br>
    <%= @lesson.body %><br>
    <%= @lesson.order %><br>
    <%= @lesson.image %><br>
    <% @lesson.sections.each do |section| %>
      <%= section.body %></br>
      <%= section.metadata %></br>
    <% end %>

  </div>
</div>
