

<header id="header" class="bck">
  <div class="row">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul><!-- /.title-area -->

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="/">Home</a></li>
          <li><i class="icon_divider  fi-asterisk size-12"></i></li>
          <% if current_user.nil? %>
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
            <li><i class="icon_divider  fi-asterisk size-12"></i></li>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
          <% else %>
            <li>
              <a href="<%= user_profiles_path %>">
                <span class="user-hearts">
                  <span class="pictos">k</span>
                  <span class="value"><%= current_user.status.total_hearts %></span>
                </span>
              </a>
            </li>
            <li><i class="icon_divider  fi-asterisk size-12"></i></li>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
            </li>
          <% end %>
        </ul><!-- /.right -->
      </section><!-- /.top-bar-section -->
    </nav> <!-- /.top-bar -->
  </div><!-- /.row -->
</header><!-- /#header -->
